html {
  height: 100%;
  -webkit-touch-callout: none;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 320px;
  background-color: var(--color-10);
}

/* width */

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--accent-color-light);
}

/* Handle Hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

a[ne-button][data-kind='round-small'] {
  --ne-button-y-padding: 0.5rem;
  --ne-button-x-padding: 0.5rem;
  --ne-button-border-radius: 50%;
}

[data-whatintent='mouse'] :focus {
  outline: 0;
}
